{% load static %}
{% load ddu %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} DarkDawn</title>
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <style>
        @font-face {
            font-family: Adler;
            src: url("{% static "assets/fonts/Adler.ttf" %}");
        }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
<h1 style="font-family: 'Adler';">Hermetic Order of the Dark Dawn</h1>
{% block body %}{% endblock %}
{{ 2022|copyright_text }}
</body>
{% block after_body %}{% endblock %}
</html>