{% extends 'darkdawn/base.html' %}
{% block body %}
<section class="centered-strict">
    <h2>Resetting your password...</h2>
    <form class="pure-form pure-form-stacked" action="{% url 'accounts:reset_password' %}" method="POST">
        {% csrf_token %}
        <label for="password-input">Old Password</label>
        <input id="password-input" type="password" name="password">
        <label for="new-password-input">New Password</label>
        <input id="new-password-input" type="password" name="new_password">
        <input class="pure-button" type="submit" value="Submit">
    </form>
</section>
{% endblock %}