{% extends 'darkdawn/base.html' %}
{% block body %}
<section class="centered-strict">
    <h2>Signing in...</h2>
    {% if error %}
    <h4 class="warning">ERROR! {{ error }}</h4>
    {% endif %}
    <form class="pure-form pure-form-stacked" action="{% url 'accounts:signin' %}" method="POST">
        {% csrf_token %}
        <label for="username-input">Username</label>
        <input id="username-input" type="text" name="username" value="{% if username %}{{ username }}{% endif %}">
        <label for="password-input">Password</label>
        <input id="password-input" type="password" name="password">
        <input class="pure-button" type="submit" value="Submit">
    </form>
</section>
{% endblock %}