{% extends 'darkdawn/base.html' %}
{% block body %}
<section class="centered-strict">
    <h2>Signing Up for an Account...</h2>
    <form class="pure-form pure-form-stacked" action="{% url 'accounts:signup' %}" method="POST">
        {% csrf_token %}
        <label for="username-input">Username</label>
        <input id="username-input" type="text" name="username">
        <label for="password-input">Password</label>
        <input id="password-input" type="password" name="password">
        <label for="password-confirm-input">Confirm Password</label>
        <input id="password-confirm-input" type="password" name="password_confirm">
        <input class="pure-button" type="submit" value="Submit">
    </form>
</section>
{% endblock %}