{% extends 'darkdawn/base.html' %}
{% block body %}
<section class="centered-strict">
    <h2>Your password is too week! Are you sure you want to proceed? :3</h2>
    <form class="pure-form pure-form-stacked" action="{% if is_reset %}{% url 'accounts:reset_weak' %}{% else %}{% url 'accounts:signup_weak' %}{% endif %}" method="POST">
        {% csrf_token %}
        {% if not is_reset %}
            <input type="hidden" name="username" value="{% if username %}{{ username }}{% endif %}">
        {% endif %}
        <input type="hidden" name="password" value="{% if password %}{{ password }}{% endif %}">
        {% if is_reset %}
            <input type="hidden" name="new_password" value="{% if new_password %}{{ new_password }}{% endif %}">
        {% endif %}
        <input class="pure-button" type="submit" value="Yes!">
    </form>
</section>
{% endblock %}