{% extends 'darkdawn/base.html' %}
{% block body %}
<section class="centered-strict">
    <h2>Your password is too week! Are you sure you want to proceed? :3</h2>
    {% if error %}<h3 style="color: #b94a48">Error: {{ error }}</h3>{% endif %}
    <form class="pure-form pure-form-stacked" action="{% if is_reset %}{% url 'accounts:reset_weak' %}{% else %}{% url 'accounts:signup_weak' %}{% endif %}" method="POST">
        {% csrf_token %}
        <input id="username-input" type="hidden" name="username" value="{% if username %}{{ username }}{% endif %}">
        <input id="password-input" type="hidden" name="password" value="{% if password %}{{ password }}{% endif %}">
        <input class="pure-button" type="submit" value="Yes!">
    </form>
</section>
{% endblock %}